@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::selection{
  background-color: var(--accent);
  color: var(--bg-color);
}

:root{
  --txt-color: #1e1007;
  --bg-color: #fff;
  --primary: #d43f3f;
  --second: #bee597;
  --accent: #89dc6f;
  --light-green: #e5f3d7;

}

.alert{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  z-index: 10002;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hamburger{
  display: none;
}
.logo img{
  max-width: 80px;
  cursor: pointer;
}

body{
  overflow-x: hidden;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

header{
  padding: 0 90px;
  background-color: var(--bg-color);
  width: 100%;
  height: 100px;
  border-bottom: 1px solid var(--txt-color);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-weight: 600;
}

nav ul li{
  transition: .4s;
}

nav ul li::after{
  content: '';
  display: block;
  background-color: var(--txt-color);
  width: 20%;
  height: 2px;
  transition: .4s;
}

nav ul li:hover::after{
  width: 80%;
}

nav ul li a{
  color: var(--txt-color);
}

nav ul li:hover{
  margin-bottom: 5px;
}

section{
  min-height: 120vh;
  max-height: 250vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
  background-color: var(--bg-color);
}

#home aside img{
  max-width: 100%;
  z-index: 0;
  box-shadow: 0 10px var(--primary), 0 30px var(--light-green), 0 50px var(--second), 0 80px var(--accent);
}

.infoTime{
  background-color: rgb(238, 211, 211);
  padding: 20px;
  border-radius: 10px;
}

.infoTime::before{
  content: '!';
  position: absolute;
  font-size: 3rem;
  font-weight: 600;
  transform: translateY(-60px);
  rotate: -12deg;
}

.infoTime::after{
  content: '!';
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  transform: translateX(40px);
  rotate: 12deg;
}


#home aside p::after{
  content: '';
  display: block;
  height: 1px;
  width: 70%;
  background-color: var(--txt-color);
  margin: 20px 0;
}
h1, p, h2{
  color: var(--txt-color);
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

#home h1::after{
  content: '|';
  margin-left: 2px;
  animation: opacity .5s infinite;
}

@keyframes opacity{
  0%, 100%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

}

#about h1::after{
  content: '';
  display: block;
  background-color: var(--second);
  width: 80%;
  height: 15px;
  margin-top: -16px;
}

.box{
  max-width: 94%;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
}

.box p{
  font-size: .8rem;
}

.box aside{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box aside .number{
  font-size: 2rem;
  color: var(--primary);
  font-weight: 500;
}

footer{
  width: 100%;
  height: 500px;
  background-color: var(--light-green);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  gap: 80px;
  margin-top: 20%;
}


footer p{
  font-weight: 600;
  font-size: 1.4rem;
}

footer ul{
  display: flex;
  flex-direction: column; 
  gap: 30px;
}

footer ul li i{
  font-size: 2rem;
  color: var(--primary);
  transition: .4s;
}

footer ul li i:hover{
  transform: translateY(-5px);
}

footer ul li p{
  font-size: 1rem;
  text-align: center;
}

span{
  font-weight: 800;
  border-bottom: 1px solid red;
}

footer ul li{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  border-bottom: 1.5px solid var(--txt-color);
}

.iff{
  color: var(--txt-color);
  font-weight: 700;
  border-bottom: 1.7px solid var(--txt-color);
}

#guide .cardImg{
  overflow: hidden;
  clip-path: polygon(0 27.5%, 100% 0, 100% 74%, 0 99%);
} 

#guide .cardImg img{
  max-width: 100%;
}

#guide{
  height: 275vh;
}

#guide h2{
  text-align: center;
}

#guide aside{
  background-color: var(--light-green);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0 4px var(--primary), 0 14px var(--second);
}

#guide h2::after{
  content: '';
  display: block;
  background-color: var(--accent);
  width: 90px;
  height: 15px;
  margin-top: -30px;
  margin-left: 120px;
}

#guide aside:nth-child(odd) h2::after{
  background-color: rgb(230, 194, 194);
  margin-top: -15px;
}

#guide p{
  font-size: .7rem;
}

@media(max-width: 800px){
  .alert{
    display: none;
  }
}

@media(max-width: 768px){
  nav ul{
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 140px;
    background-color: rgb(206, 233, 206);
    padding: 20px;
    border-radius: 10px;
    margin-right: -250px;
    transition: .4s;
  }

  nav ul.active{
    margin-right: -20px;
  }
  header{
    top: -1px;
    height: 70px;
    position: fixed;
    z-index: 10001;
    padding: 0 10px;
    padding-right: 40px;
  }
  nav{
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger{
    display: block;
    height: 2px;
    width: 25px;
    background-color: transparent;
    z-index: 1000;
    transition: .4s;
    position: relative;
    bottom: 20px;
  }

  .hamburger::after{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--accent);
    margin-top: 8px;
    transition: .4s;
  }

  .hamburger::before{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--accent);
    margin-top: 10px;
    transition: .4s;
  }
  .hamburger.active::before{
    rotate: 136deg;
    margin-top: 15px;
  }
  .hamburger.active::after{
    rotate: 221deg;
    margin-top: -2px;
  }
}