@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::selection{
  background-color: var(--accent);
  color: var(--bg-color);
}

:root{
  --txt-color: #1e1007;
  --bg-color: #fefcfb;
  --primary: #d43f3f;
  --second: #bee597;
  --accent: #89dc6f;

}
.hamburger{
  display: none;
}
.logo img{
  max-width: 100px;
  cursor: pointer;
}

body{
  overflow-x: hidden;
}

header{
  padding: 0 90px;
  background-color: var(--bg-color);
  width: 100%;
  height: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-weight: 600;
}

nav ul li{
  transition: .4s;
}

nav ul li::after{
  content: '';
  display: block;
  background-color: var(--txt-color);
  width: 20%;
  height: 2px;
  transition: .4s;
}

nav ul li:hover::after{
  width: 80%;
}

nav ul li a{
  color: var(--txt-color);
}

nav ul li:hover{
  margin-bottom: 5px;
}

section{
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
  background-color: var(--bg-color);
}

#home aside p::after{
  content: '';
  display: block;
  height: 1px;
  width: 70%;
  background-color: var(--txt-color);
  margin: 20px 0;
}

h1{
  color: var(--txt-color);
}

#home h1::after{
  content: '|';
  margin-left: 2px;
  animation: opacity .5s infinite;
}

@keyframes opacity{
  0%, 100%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

}

.box{
  max-width: 94%;
  background-color: #e5f3d7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
}

.box p{
  font-size: .8rem;
  color: var(--txt-color);
}

.box aside{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box aside .number{
  font-size: 2rem;
  color: var(--primary);
  font-weight: 500;
}


[data-scroll]{
  animation: appear 2s;
  animation-timeline: view();
  animation-range: entry 0;
}

@keyframes appear{
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 768px){
  nav ul{
    flex-direction: column;
    gap: 40px;
    position: fixed;
    top: 140px;
    background-color: rgb(206, 233, 206);
    padding: 20px;
    border-radius: 10px;
    margin-right: -200px;
    transition: .4s;
    width: 100px;
  }

  nav ul.active{
    margin-right: -50px;
  }
  header{
    top: -1px;
    height: 70px;
    position: fixed;
    border-bottom: 1px solid var(--txt-color);
    z-index: 10001;
  }
  nav{
    gap: 80%;
    flex-direction: row-reverse;
    position: relative;
    bottom: 12px;
  }

  .hamburger{
    display: block;
    height: 2px;
    width: 25px;
    background-color: transparent;
    z-index: 1000;
    transition: .4s;
    position: relative;
    left: 55px;
    bottom: 20px;
  }

  .hamburger::after{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--accent);
    margin-top: 8px;
    transition: .4s;
  }

  .hamburger::before{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--accent);
    margin-top: 10px;
    transition: .4s;
  }
  .hamburger.active::before{
    rotate: 136deg;
    margin-top: 15px;
  }
  .hamburger.active::after{
    rotate: 221deg;
    margin-top: -2px;
  }
}